<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        background-color: lightgreen;
      }
      .transaction-form {
        margin-bottom: 50px;
        display: grid;
        margin-top: 50px;
        border-radius: 20px;
        border: 2px solid black;
        grid-template-columns: 25%25%25%25%;
        padding-block: 20px;
        row-gap: 20px;
        text-align: center;
        font-size: 18px;
        background-color: #00c853;
      }
      .transaction-form input {
        border-radius: 5px;
        height: 30px;
        border: none;
      }

      .transaction-form button,
      .transaction-form a {
        cursor: pointer;
        width: 220px;
        padding-block: 4px;
        border-radius: 12px;
        margin: auto;
        background-color: darkgreen;
        color: white;
        text-decoration: none;
        font-size: 18px;
        border: 1px solid green;
      }
      .notificationButton {
        z-index: 10;
        transition: 0.6s ease;
        padding: 4px 20px;
        position: absolute;
        top: 7px;
        right: 10px;
        background-color: #00c853;
        
        color: rgb(0, 0, 0);
        border: 1px solid #000000;
        border-radius: 4px;
        font-size: 18px;
        cursor: pointer;
      }
      
      .move {
        color: white;
        padding-block: 9px;
        background-color: red;
        transition: 0.6s ease;
      }
      .transaction-form a {
        font-size: 20px;
      }
      .users-holder {
        display: grid;
        grid-template-columns: 20%20%20%20%20%;
      }
      .users-holder a div {
        display: flex;
        justify-content: center;
        background-color: #00c853;
        width: 250px;
        height: 70px;
        text-align: center;
        font-size: 15px;
        border: 2px solid black;
        border-radius: 15px;
      }
      .logout-form {
        position: absolute;
        top: 7px;z-index: 10;
        left: 10px;
      }.charging-container {
        position: absolute;
        top: 22px;
        left: 50px;
        right: 25px;
 z-index: 1;
  height: 4px;border: 1px solid rgba(0, 0, 0, 0.113);
  background-color: #ffffff58;
  overflow: hidden;
}
.none{
  display: none;
}
.charging-bar {
  height: 100%;
  background-color: #ff0000;
  width: 0;
  transition: width 0.6s ease-in-out;
}
.charging-bar-green{
  background-color: #00c853;height: 4px;
  width: 100%;
}

      .logout-form button {
        
        cursor: pointer;
        width: 220px;
        padding-block: 4px;
        border-radius: 12px;
        margin: auto;
        background-color: darkgreen;
        color: white;
        text-decoration: none;
        font-size: 18px;
        border: 2px solid black;
      }
      .notificationContainer{
        position: absolute;
          top: 45px;
          right: 40px;
          background-color: rgb(144 238 144);
          border-radius: 20px;
          width: 1000px;
          border: 4px solid #000000;
          z-index: 66;
          padding-inline: 10px;
          

      }
      .request button {
        height: 30px;
        width: 100px;
        border-radius: 5px;
        margin:auto
      }
      .notificationContainer p {
       margin:auto;
     
      }
     .request{
      padding-block: 12px;
      text-align: center;font-size: 19px;
      font-weight: bold;
      color: rgb(0, 0, 0);
      display: grid;
      grid-template-columns: 16%18%16%16%15%2%15%;
      background-color: rgb(0 200 83);
      margin-block: 10px;border: 2px solid black;
      border-radius: 10px;
     }  .requestDeposit button {
        height: 30px;
        width: 100px;
        border-radius: 5px;
        margin:auto
      }
     .requestDeposit{text-align: center;font-size: 19px;padding-block: 12px;
      font-weight: bold;
      color: rgb(0, 0, 0);
      display: grid;
      grid-template-columns: 16%18%16%16%15%2%15%;
      background-color: rgb(211, 94, 61);
      margin-block: 10px;border: 2px solid black;
      border-radius: 10px;
     }
    </style>
  </head>
  <body>
    <header>
      <div class="dynamic"> </form>
        <div class="logout-form">
          <form action="/logout" method="POST">
            <button
              style="
                background-color: rgb(218, 58, 58);
                color: rgb(255, 255, 255);
              "
              type="submit"
            >
              Odjavi se 
            </button>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
          </form></div>
          <div class="charging-container">
            <div id="charging-bar" class=" <%=requests[0]?'charging-bar':'charging-bar-green';%>"></div>
          </div>
          <button class="notificationButton">Prikaži zahteve</button></div>
          
      <div
       class="notificationContainer none"
       
      >
        <h1 id="requestTitle" style="text-align: center;"><%=requests[0]?'Zahtevi:':'Nema zahteva'%></h2>
        <ul
          id="notificationList"
          style="list-style-type: none; padding: 0;"
        >
      <%if(requests && requests[0]){%>
        <%requests.forEach(req=>{%>
          <div class="<%= req.description!=='notdeposit'?'requestDeposit':'request'%>">
            <p class="name"><%=req.name%></p>
          <p class="type"><%= req.type%></p>
            <%if(req.description !== "notdeposit"){%><p class="description"><%=req.description%></p><%}%>
            <%if(req.description == "notdeposit"){%> <p class="quantity"><%= req.quantity%> x</p><%}%>
             <%if(req.description == "notdeposit"){%> <p class="price"><%= req.price%> din</p><%}%>
            <%if(req.description !== "notdeposit"){%><p class="deposit"><%=req.deposit%> din</p><%}%>
            
            <input type="hidden" class="_csrf" name="_csrf" value="<%= csrfToken%>">
            <input type="hidden" class="transactionID" name="transactionID" value="<%=req._id%>">
            <input type="hidden" class="userID" name="userID" value="<%= req.userID%>">
            <button onclick="approveTransaction(this)">✔️</button>
            <div></div>
            <button onclick="rejectTransaction(this)">❌</button>
          </div>
          
          <%})%>
        
        </ul>
        
        <%}%>
      
      </ul>
      </div>
     <%if(requests && requests[0]){%>
      <script>
        const chargingBar = document.getElementById('charging-bar');

       console.log(chargingBar);
       

       const interval =  setInterval(() => {
        if(chargingBar.classList == ' charging-bar'){
          chargingBar.style.width = '100%';
         setTimeout(() => {
          document
            .querySelector(".notificationButton")
            .classList.toggle("move");
         }, 450);
           
          setTimeout(() => {
           
             
            chargingBar.style.width = '0';
          }, 800);
          setTimeout(() => {
            document
              .querySelector(".notificationButton")
              .classList.toggle("move");
          }, 1250);}else{
            clearInterval(interval)
          }
        }, 5000);
        
      </script><%} %>
      <script>

        let isShowingNotifications = false;

        // Function to display or hide notifications
        function toggleNotifications() {
          const container = document.querySelector(".notificationContainer");
          const list = document.getElementById("notificationList");
         container.classList.toggle("none");
         document.getElementById("charging-bar").classList = "charging-bar-green";document.getElementById("charging-bar").style.width = '100%';
    document.getElementById("notificationList").innerHTML.trim()?"":document.getElementById("requestTitle").innerText = "Nema zahteva";
    
        }

        // Add event listener to the button
        const button = document.querySelector(".notificationButton");
        button.addEventListener("click", toggleNotifications);
      </script>
      <div class="form">
        <form
          class="transaction-form"
          action="/admin/post-add-transaction"
          method="POST"
        >
          <div>
            <label for="name">Ime</label> <input required type="text" name="name" />
          </div>
          <div>
            <label for="type">Roba</label> <input required type="text" name="type" />
          </div>
          <div>
            <label for="quantity">Količina</label>
            <input required type="number" name="quantity" />
          </div>
          <div>
            <label for="price">Cena</label> <input required type="number" name="price" />
          </div>

          <div></div>
          <button type="submit">Potvrdi</button>
          <a href="/admin/transactions">Transakcije</a>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
       
        </div>
      </div>
      <% if(names&& names[0]) { %>
      <div class="users-holder">
        <% names.forEach(name=>{ %>
        <a
          href="/admin/user/<%= name %>"
          style="text-decoration: none; color: black"
          ><div><h1><%= name %></h1></div></a
        >
        <%})%>
      </div>
      <%} else {%>
      <h1>no users :/ <%= names%></h1>
      <% }%>

      <div></div>
    </header>
  </body>
</html>

<script src="/js/admin.js"></script>