<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <form action="/admin/post-add-transaction" method="POST">
        <label for="name">Ime</label>
        <input type="text" name="name" />
        <label for="type">Roba</label>
        <input type="text" name="type" />
        <label for="quantity">Kolicina</label>
        <input type="text" name="quantity" />
        <label for="price">Cena</label>
        <input type="text" name="price" />
        <div></div>
        <button type="submit">Potvrdi</button>
        <a href="/admin/transactions">Transakcije</a>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
      </form>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
      </form>
      <% if(names&& names[0]) { %>
      <div class="users-holder">
        <% names.forEach(name=>{ %>
        <a
          href="/admin/user/<%= name %>"
          style="text-decoration: none; color: black"
          ><div><h1 style="margin-block: 60px"><%= name %></h1></div></a
        >
        <%})%>
      </div>
      <%} else {%>
      <h1>no users :/ <%= names%></h1>
      <% }%>

      <div></div>
    </header>
  </body>
</html>
