<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body{
        text-align: center;
  background-color: #8ef0b79a;
      }
.date-container {
  margin-bottom: 10px;
  background-color: #8ef0b7;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 0;
}
h3 {
  color: #fff;
  border-top-left-radius: 16px; border-top-right-radius: 16px;
  background-color: #757575;
  padding: 10px;
  margin-top: 0;font-size: 20px;
  text-align: center;
}
.transaction {
  background-color: #00c853;
  padding: 5px;
  margin: 1px;
  border: 2px solid darkgreen;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}p{
  text-align: center;
}
#p { color: #fff;
  border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;
  background-color: #757575;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
#delete{
  margin: 0;
     width: 200px;
     height: 30px;
     margin: auto;
      border-radius: 5px;
      cursor: pointer;
      background-color: rgb(255, 58, 58);
      border:2px solid red;
}

.popup-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999; /* Higher z-index to appear in front */
    }

    .popup {
      background-color: #f8f8f8;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      text-align: center;
      max-width: 400px;
    }

    .popup h2 {
      margin-top: 0;
    }

    .popup p {
      margin-bottom: 20px;
    }

    .popup-buttons {
      display: flex;
      justify-content: center;
    }

    .popup button {
      margin-inline: 30px;
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .popup button.confirm {
      background-color: red;
      color: #fff;
    }

    .popup button.cancel {
      background-color: green;
      color: #fff;
    }

    .popup button:hover {
      opacity: 0.8;
    }
    .none{
      display: none;
    }
    /* linkovi i delete profile */

.hrefs {
  display: grid;
  grid-template-columns: 33%33%33%;
  text-align: center;
}
.hrefs a {
  padding-block: 12px;
  background-color: green;
  text-decoration: none;
  border:2px solid green;
  border-radius: 10px;
  color: white;
  width: 200px;  margin: auto;
}
#d{
  border-radius: 10px;
  color: white;
  background-color: red;
  border:2px solid red ;
  height: 45px;
  width: 200px;
  cursor: pointer;
  margin: auto;
}
    </style>
  <body>
    <%if(user){%>
    <div class="name-and-debt">
      <h1 class="user-name"><%= user.name %></h1>
      <h1 class="user-debt"><%= user.debt %> din</h1>
    </div>
    <div class="popup-container none">
      <div class="popup">
        
        <h2>Da li ste sigurni da zelite obrisati profil?</h2>
        <div class="popup-buttons">
        <form action="/admin/delete-profile/<%= user._id%>" method="POST">
          <button style="height: 50px;" class="confirm" id="delete-profile" type="submit">
            Obrisi Profil
          </button>
          <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        </form>
        <button class="cancel" style="height: 50px;" onclick="Action(event)">Otkazi</button>
      </div>
    </div>
    </div>

    <script>
      function Action(event) {
        event.preventDefault();
        // Perform the action when "Yes" is clicked
        document.querySelector(".popup-container").classList.toggle("none");
      }
    </script>

    <div class="hrefs">
      <a id="main-page" href="/admin/main">MAIN PAGE</a
      ><button class="confirm" id="d" onclick="Action(event)">
        Delete Profile
      </button>
      <a id="all-transactions" href="/admin/transactions">TRANSACTIONS</a>
    </div>
    <div class="user-forms">
      <form action="/admin/"></form>
    </div>
    <div class="user-transactions">
      <% if(transactionsGrouped) { %><% for (const date in transactionsGrouped)
      { %> <% if (transactionsGrouped.hasOwnProperty(date)) { %>
      <div class="date-container">
        <h3><%= date %></h3>
        <% const transactions = transactionsGrouped[date].transactions; %> <%
        const totalDebt = transactionsGrouped[date].totalDebt; %> <%
        transactions.forEach(transaction => { %>
        <div class="transaction">
          <p>Type: <%= transaction.type %></p>
          <p>Price: <%= transaction.price %> din</p>
          <p>Kolicina: <%= transaction.quantity %> unit</p>

          <p>Dug: <%= transaction.debt %> din</p>
          <button
            id="delete"
            onclick="postDeleteTransaction(this)"
            type="submit"
          >
            DELETE
          </button>
          <input
            type="hidden"
            value="<%= transaction.transactionID %>"
            name="transactionID"
          />
          <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
          <input type="hidden" value="<%= user._id%>" name="userID" />
        </div>
        <% }) %>

        <p id="p">Dug za ovaj Dan: <%= totalDebt %> din</p>
      </div>
      <% } %> <% } %> <%}else{%>
      <h1>nemate nijednu transakciju :/</h1>
      <%}%><%}else{%>
      <h1>ne postoji ovaj profil <%= user%></h1>
      <%}%>
    </div>
  </body>
</html>
<script src="/js/admin.js"></script>
