<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
    <style>
      body {
        font-family: 'Roboto Condensed', sans-serif;
      }
      .name-and-debt{

        margin-top: 30px;
        margin-bottom: 20px;
      }h1{
        margin:0;
      }
      body{
        text-align: center;
  background-color: #8ef0b79a;
      }
.date-container {
  margin-bottom: 10px;
  background-color: #8ef0b7;
  border: 3px solid black;
  border-radius: 20px;
  margin-top: 0;
}
h3 {
  color: #fff;
  border-top-left-radius: 16px; border-top-right-radius: 16px;
  background-color: #757575;
  padding: 10px;
  margin-top: 0;font-size: 20px;
  text-align: center;
}
.transaction {
  background-color: #00c853;
  padding: 5px;
  margin: 1px;
  border: 2px solid darkgreen;
  text-align: center;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}p{
  text-align: center;
}
.transaction p {
  font-weight: bold;
  font-size: 23px;
}
.descripted-deposit-transaction {
  background-color: rgb(199, 99, 85);
  padding: 5px;
  margin: 1px;
  border: 2px solid rgb(233, 5, 5);
  text-align: center;
  display: grid;
  grid-template-columns: 45%10%70%;
}
.deposit-transaction {
  background-color: rgb(199, 99, 85);
  padding: 5px;
  margin: 1px;
  border: 2px solid rgb(233, 5, 5);
  text-align: center;
  display: grid;
  grid-template-columns: 20%60%20%;
}
.deposit-transaction p {
  font-weight: bold;
  font-size: 23px;
}

#p { color: #fff;
  border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;
  background-color: #757575;
  padding: 10px;
  margin: 0;
  font-size: 20px;
  margin-top: 20px;
  text-align: center;
}
#delete{
  margin: 0;color: white;
  font-weight: bold;
     width: 200px;
     height: 30px;
     margin: auto;
      border-radius: 5px;
      cursor: pointer;
      background-color: rgb(255, 58, 58);
      border:2px solid red;
}

.popup-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 9999; /* Higher z-index to appear in front */
    }

    .popup {
      background-color: #f8f8f8;
      padding: 30px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      text-align: center;
      max-width: 400px;
    }

    .popup h2 {
      margin-top: 0;
    }

    .popup p {
      margin-bottom: 20px;
    }

    .popup-buttons {
      display: flex;
      justify-content: center;
    }

    .popup button {
      margin-inline: 30px;
      padding: 10px 25px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .popup button.confirm {
      background-color: red;
      color: #fff;
    }

    .popup button.cancel {
      background-color: green;
      color: #fff;
    }

    .popup button:hover {
      opacity: 0.8;
    }
    .none{
      display: none;
    }
    /* linkovi i delete profile */

.hrefs {
  display: grid;
  grid-template-columns: 33%33%33%;
  text-align: center;
margin-bottom: 14px;
}
.hrefs a {
  padding-block: 12px;
  background-color: green;
  text-decoration: none;
  border:2px solid black;
  border-radius: 10px;
  color: white;
  width: 200px;  margin: auto;
}
#d{
  width: 220px;
  padding-block: 12px;
  border-radius: 12px;
  margin: auto;cursor: pointer;
  background-color: red;
  color: white;
  margin-left: 10px;
  
  text-decoration: none;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
}

/* forma */
.transaction-form{
  margin-block: 17px;
  display: grid;
  border-radius: 20px;
  border: 2px solid black;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-block: 20px;
  row-gap: 20px;
  font-size: 21px;font-weight: bold;
  background-color: #00c853;
}
.transaction-form input{
  border-radius: 5px;
  height: 30px;
  border:none;
}
.transaction-form div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.transaction-form button{
  width: 220px;
  padding-block: 4px;
  border-radius: 12px;
  margin: auto;cursor: pointer;
  background-color: darkgreen;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border: 1px solid green;
}

input {
  margin-left: 8px;
}
/* deposit form */

.deposit-transaction-form{
  margin-block: 17px; 
  display: grid;
  border-radius: 20px;
  border: 2px solid black;grid-template-columns: 24%52%23%;
  padding-block: 20px;
  row-gap: 20px;
  font-weight: bold;
  font-size: 21px;
  background-color: rgb(199, 99, 85);
}
.deposit-transaction-form div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deposit-transaction-form input{
  border-radius: 5px;
  height: 30px;
  border:none;
}

.deposit-transaction-form button{
  width: 220px;
  padding-block: 4px;
  border-radius: 12px;
  margin: auto;cursor: pointer;
  background-color: rgb(255, 0, 0);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
  
}
.descripted-deposit-transaction p {
 
  font-weight: bold;
  font-size: 23px;
}
.descripted-deposit-transaction #p1 {
  margin-left: 65px;
  text-align: left;
}
.inputRed #deposit{
  border-color: red;color: red;
}

    </style>
  <body>
    <%if(user){%>
    <div class="name-and-debt">
      <h1 class="user-name">Korisnik: <%= user.name %></h1>
    </div>


    
    <div class="popup-container none">
      <div class="popup">
        
        <h2>Da li ste sigurni da želite obrisati profil?</h2>
        <div class="popup-buttons">
        <form action="/admin/delete-profile/<%= user._id%>" method="POST">
          <button style="height: 50px;" class="confirm" id="delete-profile" type="submit">
            OBRIŠI PROFIL
          </button>
          <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        </form>
        <button class="cancel" style="height: 50px;" onclick="Action(event)">OTKAŽI</button>
      </div>
    </div>
    </div>

    <script>
      function Action(event) {
        event.preventDefault();
        // Perform the action when "Yes" is clicked
        document.querySelector(".popup-container").classList.toggle("none");
      }
    </script>

<h1 id="debt">Stanje: <%=user.debt%> din</h1>
    

    <form class="transaction-form" action="/admin/post-add-transaction" method="POST">
      <input type="hidden" name="name" value="<%= user.name%>">
      <input type="hidden" name="isLocal" value="true">
         <div> <label for="type">Roba</label>
          <input required type="text" name="type" /></div> 
         <div> <label for="quantity">Količina</label>
          <input required type="number" name="quantity" /></div>
          <div><label for="price">Cena</label>
            <input required type="number" name="price" /></div> 
       
       
       
        <button type="submit">Potvrdi</button>
       
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
      </form>
      <div><form class="<%=errors=='not number'?'deposit-transaction-form inputRed': 'deposit-transaction-form' %>" action="/admin/post-add-transaction" method="POST">
        <input type="hidden" name="name" value="<%= user.name%>">
        <input type="hidden" name="isLocal" value="true">
        <div id="deposit"> <label for="deposit">Uplata</label>
          <input type="number" required name="deposit" /></div>
        <div> <label for="description">Dodatne informacije</label>
            <input type="text" name="description" /></div> 
          
 
          <button type="submit">Potvrdi</button>
          <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        </form></div>

      <div class="hrefs">
        <a id="main-page" href="/admin/main">MAIN PAGE</a
        >
        <div><button class="confirm" id="d" onclick="Action(event)">
          OBRIŠI PROFIL
        </button></div>
        <a id="all-transactions" href="/admin/transactions">SVE TRANSAKCIJE</a>
      </div>
      
 
    <div class="user-transactions">
      <% if(transactionsGrouped) { %><% for (const date in transactionsGrouped)
      { %> <% if (transactionsGrouped.hasOwnProperty(date)) { %>
      <div class="date-container">
        <h3><%= date %></h3>
        <% const transactions = transactionsGrouped[date].transactions; %> <%
        const totalDebt = transactionsGrouped[date].totalDebt; %> <%
        transactions.forEach(transaction => { %>
        <% if(transaction.type === "uplata") {%>
         
          <%if(transaction.description.length>2){%>
            <div class="descripted-deposit-transaction">
              
             
    
              <p id="p1">Opis: <%=transaction.description%></p>
              <p style="padding-left: 10px;"><%= transaction.deposit %> din</p>
              <button
                id="delete"
                onclick="postDeleteTransaction(this)"
                type="submit"
              >
               OBRIŠI
              </button>
              <input
                type="hidden"
                value="<%= transaction.transactionID %>"
                name="transactionID"
              />
              <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
              <input type="hidden" value="<%= user._id%>" name="userID" />
            </div>
            
            
            
            <%}else{%>
            <div class="deposit-transaction">
              <p>Uplata</p>
             
    
              <p style="padding-left: 10px;"> <%= transaction.deposit %> din</p>
              <button
                id="delete"
                onclick="postDeleteTransaction(this)"
                type="submit"
              >
               OBRIŠI
              </button>
              <input
                type="hidden"
                value="<%= transaction.transactionID %>"
                name="transactionID"
              />
              <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
              <input type="hidden" value="<%= user._id%>" name="userID" />
            </div><%}%>
         
          
          <%} else {%>
          <div class="transaction">
            <p>Roba: <%= transaction.type %></p>
            <p>Cena: <%= transaction.price %> din</p>
            <p>Količina: <%= transaction.quantity %> x</p>
  
            <p>Dug: <%= transaction.debt %> din</p>
            <button
              id="delete"
              onclick="postDeleteTransaction(this)"
              type="submit"
            >
             OBRIŠI
            </button>
            <input
              type="hidden"
              value="<%= transaction.transactionID %>"
              name="transactionID"
            />
            <input type="hidden" value="<%= csrfToken %>" name="_csrf" />
            <input type="hidden" value="<%= user._id%>" name="userID" />
          </div>
          
          <%}%>
        <% }) %>

        <p id="p">Dug za ovaj Dan: <%= totalDebt %> din</p>
      </div>
      <% } %> <% } %> <%}else{%>
      <h1>nemate nijednu transakciju :/</h1>
      <%}%><%}else{%>
      <h1>ne postoji ovaj profil <%= user%></h1>
      <%}%>
    </div>
  </body>
</html>
<script src="/js/admin.js"></script>
