<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/transaction-for-user.css" />
    <style>
    body{
      margin-top: 25px;
    }input {
      margin-left: 8px;
    }h3 {
      font-weight: 1;
    color: #fff;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #757575;
    padding: 10px;
    margin-top: 0; font-size: 25px;
    text-align: center;
}
    .transaction{margin: 2px;
      font-weight: bold;
  font-size: 23px;
    }
      .transaction-form {
        margin-bottom: 22px;
        display: grid;
        margin-top: 22px;
        border-radius: 20px;
        border: 2px solid black;
        grid-template-columns: 25%25%25%25%;
        padding-block: 20px;
  font-weight: bold;
        text-align: center;
  font-size: 21px;
        background-color: #00c853;
      }
      .transaction-form input {
        border-radius: 5px;
        height: 30px;
        border: none;
      }
      .descripted-deposit-transaction p {
 
 font-weight: bold;
 font-size: 23px;
}.descripted-deposit-transaction {
  background-color: rgb(199, 99, 85);
  padding: 5px;margin: 2px;
  border: 2px solid rgb(233, 5, 5);
  text-align: center;
  display: grid;
  grid-template-columns: 45%10%45%;
}
.deposit-transaction {
  background-color: rgb(199, 99, 85);
  padding: 5px;
  margin: 2px;
  border: 2px solid rgb(233, 5, 5);
  text-align: center;
  display: grid;
  grid-template-columns: 45%10%45%;
}
.deposit-transaction p {
  font-weight: bold;
  font-size: 23px;
}#p {
  font-size: 25px;
}

      .transaction-form button,
      .transaction-form a {
        cursor: pointer;
        width: 220px;
        padding-block: 4px;
        border-radius: 12px;
        margin: auto;
        background-color: darkgreen;
        color: white;
        text-decoration: none;
        font-size: 18px;
        border: 1px solid green;
      }

      .transaction-form a {
        font-size: 20px;
      }
.deposit-transaction-form{
  margin-block: 17px; 
  display: grid;
  border-radius: 20px;
  border: 2px solid black;grid-template-columns: 24%52%23%;
  padding-block: 20px;
  row-gap: 20px;
  font-weight: bold;
  font-size: 21px;
  background-color: rgb(199, 99, 85);
}
.deposit-transaction-form div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.deposit-transaction-form input{
  border-radius: 5px;
  height: 30px;
  border:none;
}

.deposit-transaction-form button{
  width: 220px;
  padding-block: 4px;height: 35px;
  border-radius: 12px;
  margin: auto;cursor: pointer;
  background-color: rgb(255, 0, 0);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);
  
}
    </style>
  </head>
  <body>
    <h1>Korisnik: <%= user.name%></h1>
    <div> 
      <form action="/logout" method="POST">
      
    <h1>Dug: <%= user.debt%> din</h1>
      <button type="submit" style=" 
      background-color: rgb(240, 34, 34); height: 35px;">Odjavi se</button>
      <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
    </form></div>

    <div class="form">
      <form
        class="transaction-form"
        action="/user/post-add-transaction"
        method="POST"
      >
       <input type="hidden" name="name" value="<%= user.name%>">
        <div>
          <label for="type">Roba</label> <input type="text" name="type" required />
        </div>
        <div>
          <label for="quantity">Količina</label>
          <input type="number" required name="quantity" />
        </div>
        <div>
          <label for="price">Cena</label> <input type="number" required name="price" />
        </div>

        <button type="submit" style="height: 35px;">Pošalji zahtev</button>
        <div></div>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        
      
      </form>
     
      </div>
    </div>
    <div><form class="deposit-transaction-form" action="/user/post-add-transaction" method="POST">
      <input type="hidden" name="name" value="<%= user.name%>">
      <input type="hidden" name="isLocal" value="true">
      <div> <label for="deposit">Uplata</label>
        <input type="number" required name="deposit" /></div>
      <div> <label for="description">Dodatne informacije</label>
          <input type="text" name="description" /></div> 
        

        <button type="submit">Pošalji zahtev</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
      </form></div>
   


    
    <div class="user-transactions">
      <% if(transactionsGrouped) { %><% for (const date in transactionsGrouped)
      { %> <% if (transactionsGrouped.hasOwnProperty(date)) { %>
      <div class="date-container">
        <h3><%= date %></h3>
        <% const transactions = transactionsGrouped[date].transactions; %> <%
        const totalDebt = transactionsGrouped[date].totalDebt; %> <%
        transactions.forEach(transaction => { %>
        <% if(transaction.type === "uplata") {%>
         
          <%if(transaction.description.length>2){%>
            <div style="margin-block: 3px;" class="descripted-deposit-transaction">
              
             
    
              <p id="p1">Opis: <%=transaction.description%></p>
              <p></p>
              <p style="padding-left: 10px;"><%= transaction.deposit %> din</p>
              
              </div>
            
            
            
            <%}else{%>
            <div style="margin-block: 3px;" class="deposit-transaction">
              <p>Uplata</p>
              <p></p>
    
              <p style="padding-left: 10px;"> <%= transaction.deposit %> din</p>
              </div><%}%>
         
          
          <%} else {%>
          <div style="margin-block: 3px;" class="transaction">
            <p>Roba: <%= transaction.type %></p>
            <p>Cena: <%= transaction.price %> din</p>
            <p>Količina: <%= transaction.quantity %> x</p>
  
            <p>Dug: <%= transaction.debt %> din</p>
           
           
          </div>
          
          <%}%>
        <% }) %>

        <p id="p">Dug za ovaj Dan: <%= totalDebt %> din</p>
      </div>
      <% } %> <% } %> <%}else{%>
      <h1>nemate nijednu transakciju :/</h1>
      <%}%>
    </div>
  </body>
</html>
